.tabs 
  %ul.nav.nav-tabs{role: "tablist"}
    %li
      = link_to "This Month", "#this_month"
    %li
      = link_to "Next Month", "#next_month"

  .tab-content.rents-panel
    #this_month
      = render partial: "this_month"
    #next_month
      = render partial: "next_month"
